/.metadata/

# Ignore Maven/Gradle build files
target/
*.jar
*.war
*.iml
*.class

# Ignore IntelliJ IDEA project files
.idea/
*.iml

# Ignore Eclipse IDE project files
.project
.classpath
.settings/

# Ignore logs and temporary files
*.log
*.tmp
